<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/main-responsive.css">
    <title>HappyNewYear</title>
</head>
<body>
    <div class="container" id="word">
        <h1 class="ml15">
            <span class="word">Happy</span>
            <span class="word">New</span>
            <span class="word">Year</span>
        </h1>
    </div>
    <div class="wrap" id="wrap" style="display: none;">
        <h1 id="title">Happy New Year</h1>
        <div class="box" id="box">
            <div>
                <img src="">
            </div>
            <div>
                <img src="">
            </div>
            <div>
                <img src="">
            </div>
            <div>
                <img src="">
            </div>
            <div>
                <img src="">
            </div>
            <div>
                <img src="">
            </div>
            <div>
                <img src="">
            </div>
            <div>
                <img src="">
            </div>
            <div>
                <img src="">
            </div>
            <div>
                <img src="">
            </div>
        </div>
    </div>


    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.fireworks.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>